<input type="button" (click)="selectTopTenCountries()" value="Select Top 10 Countries by Total Medals Won">
<input type="button" (click)="selectTopTenByCountriesAthlete()" value="Select Top 10 Countries By Athletes">

<ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-fresh"
                 [rowData]="rowData"
                 [columnDefs]="columnDefs"

                 (gridReady)="gridReady($event)"
                 (selectionChanged)="selectionChanged()"

                 rowSelection="multiple"

                 enableSorting
                 toolPanelSuppressPivots
                 toolPanelSuppressPivotMode

                 [autoGroupColumnDef]="getAutoGroupColumnDef()">
</ag-grid-angular>
