<div class="button-row">
  <button mat-button color="primary" (click)="selectTopTenCountries()">Top 10 Countries by Total Medals Won</button>
  <button mat-button color="primary" (click)="selectTopTenByCountriesAthlete()">Top 10 Countries By Athletes</button>
  <button mat-button color="primary" (click)="selectTopTenBySport('Athletics')">Top 10 For Athletics</button>
</div>

<ag-grid-angular style="width: 100%; height: 90%;" class="ag-theme-fresh"
                 [rowData]="rowData"
                 [columnDefs]="columnDefs"

                 (gridReady)="gridReady($event)"
                 (selectionChanged)="selectionChanged()"

                 rowSelection="multiple"

                 enableSorting
                 enableFilter
                 toolPanelSuppressPivots
                 toolPanelSuppressPivotMode

                 [autoGroupColumnDef]="getAutoGroupColumnDef()">
</ag-grid-angular>
