.container {
  display: flex;
  margin-top: 5px;
  height: 100%;
  width: 100%;
}

.container > div {
  flex: 1;
}

.container mat-card {
  height: 90%;
}

#grid, #chart {
  width: 45%;
  height: 100%;
}

#grid {
  margin-right: 1px;
}

